<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12 col-md-4 align-self-center">
            <h3>
                Document life.
                <br>
                Don't fake it.
            </h3>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio optio reiciendis, dolore blanditiis perferendis magnam quasi, explicabo numquam laudantium inventore aspernatur, voluptates maiores a alias veniam repudiandae excepturi voluptatum odit.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio optio reiciendis, dolore blanditiis perferendis.
            </p>
            <a routerLink="/register" class="btn btn-outline-success">Register now!</a>
        </div>
        <div class="col-12 col-md-8">
            <img src="../../../assets/img/img1.png" width="100%" alt="" srcset="">
        </div>
      </div>
</div>
<div class="container-fluid dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mt-5 mb-5">
                <div class="row">
                <div class="col-4 text-center">
                    <img src="../../../assets/img/img2.png" width="100%" alt="" srcset="">
                    <h5 class="text-white mt-2">Technology</h5>
                </div>
                <div class="col-4 text-center">
                    <img src="../../../assets/img/img3.png" width="100%" alt="" srcset="">
                    <h5 class="text-white mt-2">Travel</h5>
                </div>
                <div class="col-4 text-center">
                    <img src="../../../assets/img/img4.png" width="100%" alt="" srcset="">
                    <h5 class="text-white mt-2">Sports</h5>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4 align-self-center">
                <h3 class="text-white">
                    Document life.
                </h3>
                <p class="text-white">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio optio reiciendis, dolore blanditiis perferendis magnam quasi, explicabo numquam laudantium inventore aspernatur, voluptates maiores a alias veniam repudiandae excepturi voluptatum odit.
                </p>
                <a routerLink="/register" class="btn btn-outline-success">Register now!</a>
            </div>
          </div>
    </div>
</div>