<!-- HEADER SI NO ESTAS LOGUEADO -->
<nav class="navbar container navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Linkage G</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navlog" *ngIf="!usersService.getName()">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item active">
          <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
          
        </li>
        <li class="nav-item">
          <a routerLink="register" class="btn btn-outline-success" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
    <div *ngIf="usersService.getName()">
      <ul class="navbar-nav ml-auto">
        <form class="form-inline ml-auto my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      <li class="nav-item active">
          <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="cursor:pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ this.usersService.getName() }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="home" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div> 
    </div>
</nav> 

<!-- HEADER SI ESTAS LOGUEADO -->
<!-- <nav class="navbar container navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Linkage G</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">Post</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="cursor:pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Martin {{User['name']}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/profile">My Profile</a>
          <a class="dropdown-item" routerLink="/edit-profile">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="home" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->