<!-- 
<form #registerform="ngForm" (submit)="register(registerform)" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">

        <input type="text" id="defaultRegisterFormFirstName" name="name"  ngModel class="form-control" placeholder="First name">
      </div>
      <div class="col">

        <input type="text" id="defaultRegisterFormLastName" ngModel name="lastName" class="form-control" placeholder="Last name">
      </div>
    </div>


    <input type="email" id="defaultRegisterFormEmail" name="email"  ngModel class="form-control mb-4" placeholder="E-mail">


    <input type="password" id="defaultRegisterFormPassword" name="password"  ngModel class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  </form> -->


  <div class="container">
    <div class="row">
      <div class="col-3 align-self-center">
       
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row mt-4">
      <div class="col align-self-start">
      </div>
      <div class="col align-self-center justify-content-center">
        <form #registerform="ngForm" (submit)="register(registerform)" class="text-center border border-light p-5 login-form">
    
          <p class="h3 mb-4">Welcome to <span>Linkage G</span></p>
          <p class="mb-4">Create your new account</p>
        
          <!-- Name -->
          <input type="name" id="defaultLoginFormEmail" name="name" ngModel class="form-control mb-4" placeholder="Name">

          <!-- Last Name -->
          <input type="name" id="defaultLoginFormEmail" name="lastName" ngModel class="form-control mb-4" placeholder="Last Name">

          <!-- Email -->
          <input type="email" id="defaultLoginFormEmail" name="email" ngModel class="form-control mb-4" placeholder="E-mail">
        
          <!-- Password -->
          <input type="password" id="defaultLoginFormPassword" name="password" ngModel class="form-control mb-4" placeholder="Password">
        
          <!-- Sign in button -->
          <button class="btn btn-outline-success mt-2 mb-3" block="true" type="submit">Register</button>
        
          <!-- Register -->
          <p>Already a member?
            <a routerLink="/login">Login</a>
          </p>
  
        
          </form>
      </div>
      <div class="col align-self-end">
      </div>
    </div>
  </div>