<div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <!-- Profile-card -->
        <div class="card mt-3">
          <div class="card-body text-center">
            <img class="main-avatar"
              src="img.jpg" alt="">
            <h5 class="card-title mt-3">
                Martin Pinto
            </h5>
            <h6><i class="fas fa-globe"></i> Valencia, Espana</h6>
            <p>Best UX/UI Designer Ever</p>
            <p><i class="far fa-clipboard"></i> Posts (133)</p>
            <p><i class="fas fa-users"></i> Friends (530)</p>
          </div>
        </div>
  
      </div>
      <div class="col-md-8 col-xs-12">
        <!-- Content-card -->
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">
                Edit Your Profile
            </h5>
            <form>
                <div class="row">
                  <div class="col">
                    <label>First Name</label>
                    <input type="text" class="form-control" value="Martin">
                  </div>
                  <div class="col">
                    <label>Last Name</label>
                    <input type="text" class="form-control" value="Pinto">
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                      <label>Tag</label>
                      <input type="text" class="form-control" value="UX/UI Designer">
                    </div>
                    <div class="col">
                      <label>City</label>
                      <input type="text" class="form-control" value="Pinto">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label>Describe Yourself</label>
                      <textarea type="text" class="form-control" value="UX/UI Designer"></textarea>
                    </div>
                  </div>
                  <label class="mt-3">Profile Image</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                              </div>
                  </div>
                  <button class="btn btn-outlisuccess"
              </form>
          </div>
        </div>
      </div>
    </div>