<div class="container">
    <div class="row">
      <div class="col-8">
         <!-- Content-card -->
         <div class="card mt-3" >
          <div class="card-body" *ngFor="let posts of allPost; let i = index;">
            <div class="d-flex bd-highlight align-items-center">
              <div class="card-title p-2 bd-highlight">
                <img class="avatar" src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
              </div>
              <div class="p-2 bd-highlight">
                <!-- <a [routerLink]='["../userProfile", posts.user.id]' > -->
                    <p style="cursor: pointer;" (click)="actualUser(posts.user.id, i)">
  
                      {{posts.user.name}}
                    </p>
  
              </div>
              <div class="ml-auto p-2 bd-highlight">
                <i class="far fa-clock"></i> {{posts.created_at}}
              </div>
            </div>
            <img width="100%" src="https://www.fico.com/sites/default/files/2018-05/AdobeStock_159364568%20%281%29.jpeg" alt="">
              <p class="mt-3"> {{posts.name}} </p>
            <div class="d-flex justify-content-start mt-3">
              <a href="#" class="btn btn-add mr-2">
                <i class="far fa-thumbs-up"> {{posts.likes.length}}</i>
              </a>
              <a href="#" class="btn btn-post">Comments  {{posts.comments.length}}</a>
            </div>
                <div class="p-2"*ngFor="let commnet of comentList[i]">
                  <p class="comment-username">usuario que comento</p>
                  <p>{{commnet.description}}</p> 
                  <a href="#" class="btn btn-add mr-2">
                    <i class="far fa-thumbs-up"> 4</i>
                  </a>
                  <a href="#" class="btn btn-add mr-2">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a (click)="deletePost()" href="#" class="btn btn-add mr-2">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
          </div>
          <div class="card-footer">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write here..." rows="1"></textarea>
          </div>
        </div>
      </div>
      <div class="col-4 ">
              <!-- Post-card -->
              <div class="card mt-3" >
                <div class="card-body">
                  <h5 class="card-title">
                    Create Post
                  </h5>
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write here..." rows="3"></textarea>
                  <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-add mr-2" type="file">
                      <i class="fas fa-camera"></i>
                    </a>
                    <a href="#" class="btn btn-post">Publish</a>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
  
  
  