<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <!-- Profile-card -->
      <div class="card mt-3">
        <div class="card-body text-center">
          <img class="main-avatar" src="http://localhost:8000/storage/images/users/{{allPersonalPost['user']?.avatar}}" alt="">
          <h5 class="card-title mt-3">
            {{allPersonalPost['user']?.name}} {{allPersonalPost['user']?.lastName}}
          </h5>
          <h6><i class="fas fa-globe red-icon"></i> Valencia, Espana</h6>
          <p>{{allPersonalPost['user']?.bio}}</p>
          <p><i class="far fa-clipboard red-icon"></i> Posts ({{allPersonalPost['user']?.post.length}})</p>
          <p><i class="fas fa-users red-icon"></i> Friends ({{allPersonalPost['user']?.post.length}})</p>
          <h6><a class="btn btn-add" (click)="addFriends()"><i class="fa fa-users"></i> Add friend</a></h6>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <!-- Content-card -->
      <div class="card mt-3">
        <div class="card-body" *ngFor="let post of allPersonalPost['user']['post']; let i = index;">
          <div class="d-flex bd-highlight align-items-center">
            <div class="card-title p-2 bd-highlight">
              <img class="main-avatarPost" src="http://localhost:8000/storage/images/users/{{allPersonalPost['user']?.avatar}}" alt="">
            </div>
            <div class="p-2 bd-highlight">
              <h5><a routerLink="profile"> {{allPersonalPost['user']?.name}}</a></h5>
            </div>
            <div class="ml-auto p-2 bd-highlight">
              <i class="far fa-clock"></i> {{data[i]}}
            </div>
          </div>
          <img width="100%" src="http://localhost:8000/storage/images/posts/{{post.image}}" alt="">
            <p class="post-title mt-3"> {{post.name}} </p>
            <p class="mt-3"> {{post.description}} </p>
            <div class="d-flex justify-content-start mt-3 mb-3">
              <a style="cursor: pointer;" (click)="addClick(post.id)" class="btn btn-add mr-2">
                <i class="far fa-thumbs-up"> {{post.likes.length}}</i>
              </a>
              <a href="#" class="btn btn-post">Comments  {{post.comments.length}}</a>
            </div>
            <div class="card-footer">
              <div class="p-2" *ngFor="let comment of post.comments">
              <div class="d-flex flex-row mb-3">
                <div class="d-flex align-items-top">
                  <div class="p-2">
                    <img class="main-avatarPost" src="http://localhost:8000/storage/images/users/{{comment.user.avatar}}" alt="">
                  </div>
                  <div class="ml-3">
                    <p class="comment-username" style="cursor: pointer;" (click)="link(comment.user.name, comment.user.id)"> {{comment.user.name}}</p>
                    <p>{{comment.description}}</p>
                    <a style="cursor: pointer;" (click)="addClickComment(post.id)" class="btn btn-add mr-2">
                      <i class="far fa-thumbs-up"> {{comment.likes.length}} </i>
                    </a>
                  </div>
                   
                  </div>
  
                </div>
              </div>
              <input [(ngModel)]="postComment" (keyup)="createComment($event, post['id'])" class="form-control mt-3 w-100" placeholder="Write here...">
            
          </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>