<div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <!-- Profile-card -->
        <div class="card mt-3">
          <div class="card-body text-center">
            <img class="main-avatar"
              src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
            <h5 class="card-title mt-3">
              {{usuario['name']}}
            </h5>
            <h6><i class="fas fa-map-marker-alt"></i> Valencia, Espana</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam similique culpa laudantium officia,
              voluptates veritatis nostrum itaque commodi natus esse, vero atque incidunt nam inventore dicta dolorem
              dolore rerum totam!</p>
            <h6><a class="btn btn-add" href="#"><i class="fa fa-edit"></i> Edit Profile</a></h6>
          </div>
        </div>
        <!-- Friend-list -->
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">
              My Friends
            </h5>
                <div class="d-flex align-items-top">
                <div class="p-2">
                  <img class="comments-avatar"
                  src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
                </div>
                <div class="p-2">
                  <p style="comment-username" >Manuel S Lemos</p>
                </div>
              </div>
              <hr>
                <div class="d-flex align-items-top">
                <div class="p-2">
                  <img class="comments-avatar"
                  src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
                </div>
                <div class="p-2">
                  <p style="comment-username">Martin Pinto</p>
                </div>
              </div>
              <hr>
                <div class="d-flex align-items-top">
                <div class="p-2">
                  <img class="comments-avatar"
                  src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
                </div>
                <div class="p-2">
                  <p style="comment-username">Luco Feliu</p>
                </div>
              </div>
          </div>
        </div>
  
      </div>
      <div class="col-md-8 col-xs-12">
        <!-- Post-card -->
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">
              Create Post
            </h5>
            <textarea class="form-control" id="text" [(ngModel)]="text" placeholder="Write here..." rows="3"></textarea>
            <div class="d-flex justify-content-end mt-3">
              <a href="#" class="btn btn-add mr-2">
                <i class="fas fa-camera"></i>
              </a>
              <a (click)="addPost()" class="btn btn-post">Publish</a>
            </div>
          </div>
        </div>
        <!-- Content-card -->
        <div class="card mt-3">
          <div class="card-body" *ngFor="let post of allPersonalPost ">
            <div class="d-flex bd-highlight align-items-center">
              <div class="card-title p-2 bd-highlight">
                <img class="avatar"
                  src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
              </div>
              <div class="p-2 bd-highlight">
                <h5><a routerLink="profile">Giovanni Amapola</a></h5>
              </div>
              <div class="ml-auto p-2 bd-highlight">
                <i class="far fa-clock"></i> hace 2h
              </div>
            </div>
            <img width="100%" src="  {{post.image}}"
              alt="" class="main-img">
            <p class="mt-3" >
                {{post.name}}
            </p>
            <div class="d-flex justify-content-start mt-3 mb-3">
              <a href="#" class="btn btn-add mr-2">
                <i class="far fa-thumbs-up"> 4</i>
              </a>
            </div>
            <div class="card-footer">
              <div class="d-flex flex-row mb-3">
                <div class="d-flex align-items-top">
                <div class="p-2">
                  <img class="comments-avatar"
                  src="https://image.shutterstock.com/image-photo/handsome-young-man-on-grey-260nw-492562780.jpg" alt="">
                </div>
                <div class="p-2">
                  <p style="comment-username">usuario que comento</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex harum impedit pariatur dolorem. Laborum cumque, aliquam mollitia quibusdam est quos officiis. Eum distinctio facilis nihil doloribus voluptates dolorum iste.</p> 
                  <a href="#" class="btn btn-add mr-2">
                    <i class="far fa-thumbs-up"> 4</i>
                  </a>
                  <a (click)="editPost()" href="#" class="btn btn-add mr-2">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a (click)="deletePost()" href="#" class="btn btn-add mr-2">
                    <i class="fa fa-trash"></i>
                  </a>
                </div>
                
              </div>
              </div>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write here..."
                rows="1"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>